html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 2em;
    margin: 2em;
    width: 1175px;
}

h1 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
    
}

.square {
    list-style-type: square;
}

.disc {
    list-style-type: disc;
}

.circle {
    list-style-type: circle;
    
}