* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, table, input, button {
    font: inherit;
}

html {
    font-family: Helvetica, sans-serif;
    background-color: #eeeeee;
}

body {
    margin: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;  
}


@media screen and (width <= 500px) {

    html {
        font-size: 14px;
        min-width: 300px; 
    }
    
    table {
        display: flex;      
    }

    table thead tr th,
    table tbody tr td {
    padding: 0.4em;
    text-align: left;
    }

    tbody {
        flex: 1 1 auto;
    }

    thead tr {
        display: flex;
        flex-direction: column;   
    }

    table thead tr:nth-child(2) {
        background-color: #fff;
    }

    table thead tr th {
        border: 1px solid #d5d5d5;
        border-right: none;
    }

    table thead tr th:not(:first-child) {
        border-top: none;
    }

    table thead tr:nth-child(1) th:nth-child(3) {
        border-bottom: none;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
    }  

    table tbody tr:nth-child(2){
        background-color: #fff;
    }

    table tbody tr td {
        border: 1px solid #d5d5d5;
        border-left: none;
    }

    table tbody tr td:not(:first-child) {
        border-top: none;
    }

    table tbody tr:nth-child(1) td:nth-child(3) {
        border-bottom: none;
    }
}


@media screen and (width > 500px) {
    html {
        font-size: 12px;
    }

    .responsive-mobile {
        display: none;
    }

    table thead tr th,
    table tbody tr td {
    width: 30%;
    border: 1px solid #d5d5d5;
    padding: 0.4em;
    text-align: left;
}

table thead tr th {
    color: #fff;
    background-color: #333333;  
}

table tbody tr:nth-child(2) {
    background-color: #fff;
    }
}


@media (width > 600px) {
    html { font-size: 14px; }
}

@media (width > 900px) {
    html { font-size: 16px; }
}

@media (width > 1200px) {
    html { font-size: 18px; }
}

@media (width > 1400px) {
    html { font-size: 20px; }
}