* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(238, 238, 238);  
}

.container {
    display: flex;   
    gap: 1.5em
}

.card {  
    
    width: 8em;
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3); 
    background-color: black;
    justify-content: center;
    transition: width 0.4s ease-in-out;
}

.card:active,
.card:hover {
    width: 40em;
}

/* .card.active {
    width: 40em;
} */

.media {
    display: flex;
    justify-content: center;
}

.media img {
    display: block;
    height: 100%;
    width: auto;
}