body {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    gap: 10px;
}

header, main, aside, footer {
    background-color: rgb(181, 216, 255);
    border-radius: 3px;
    padding: 5px 10px;
}

header {
    display: inline-block;
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

aside ul li a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
}

@media (max-width: 500px) {
    body {
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }
    h1 {
        display: block;
        margin-bottom: 5px;
    }
}
