* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    height: 100vh;
}
 
.card {
    width: 28em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    
}

.card .media {
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.card .media:after {
    display: block;
    content:'';
    padding-top: 56.25%;  /*  9 / 16 * 100  */
}

.card .media img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    /* за центриране на картинката независимо от големината */
    /* top: 50%; left: 50%;
    transform: translate(-50%, -50%); */   
}

.card .content {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.card h3 {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
    padding-bottom: 0.5em;
}

div p {
    padding-bottom: 1.5em;  
}

.card .button {
    display: block; /*  или margin-left: auto; */
    align-self: flex-end;
    text-decoration: none;
    color: #fff;
    padding: 0.6em 1em;
    border-radius: 0.2em;
    background-color: rgb(0, 153, 0);
    
    
}

